bug: zebra-rpc authorization is decoded with wrong Base64 encoding

### What happened?

https://github.com/ZcashFoundation/zebra/blob/15de82711b6429f9c77e81b26e7ef0bb92b76cdb/zebra-rpc/src/server/http_request_compatibility.rs#L74

[RFC 7617 Section 2](https://datatracker.ietf.org/doc/html/rfc7617#section-2) specifies the encoding, and references [RFC 4648 Section 4](https://datatracker.ietf.org/doc/html/rfc4648#section-4) which is plain Base64.

### What were you doing when the issue happened?

Implementing JSON-RPC authorization for Zallet.

### Zebra logs

_No response_

### Zebra Version

_No response_

### Which operating systems does the issue happen on?

- [ ] Linux
- [ ] macOS
- [ ] Windows
- [ ] Other OS

### OS details

_No response_

### Additional information

_No response_